li {
  list-style-type: none;
  width: 150px;
  border: solid 1px grey;
}

button {
  color: darkslategrey;
  padding: 5px;
  background: #fff;
  width: 100%;
  border: none;
  display: flex;
  justify-content: space-between;
}

.color-square {
  width: 25px;
  height: 25px;
}
