@import url(https://fonts.googleapis.com/css?family=Roboto:700);

.color-picker-area {
  margin: 50px;
  width: max-content;
  background: #fff;
  display: flex;
  align-items: center;
  border: #000;
  border-radius: 30px;
}
#color-picker-input {
  outline: none;
  border: none;
  height: 100%;
  font-size: 25px;
  margin-right: 15px;
  margin-left: 15px;
}
#color-square {
  width: 45px;
  height: 45px;
  border: solid 2px black;
  margin-right: 15px;
}
.rgb-area {
  position: relative;
}
#rgb-panel {
  position: absolute;
  bottom: -250px;
}

.color-base-area {
  position: relative;
  margin-right: 15px;
}
.color-base-panel {
  margin: 0;
  position: absolute;
  right: -85px;
  top: 45px;
}
