@import url(https://fonts.googleapis.com/css?family=Roboto:700);
body {
  text-align: center;
  padding: 40px 0 0 0;
}
.rgb-panel-area {
  background-color: #fff;
  border-radius: 20px;
}
fieldset {
  border: none;
}
output {
  display: inline-block;
  min-width: 2.5em;
}
.buttons-panel {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-bottom: 15px;
}
.rgb-button {
  width: max-content;
  border: solid 1px grey;
  border-radius: 30px;
}
.rgb-button:first-child {
  background-color: mediumseagreen;
  color: #fff;
}
label,
output {
  padding: 2px 9px;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 1.1em;
}
label[for="r"],
output[for="r"] {
  background-color: #b50600;
  opacity: 0.7;
}
label[for="g"],
output[for="g"] {
  background-color: #00b548;
  opacity: 0.7;
}
label[for="b"],
output[for="b"] {
  background-color: #001bb5;
  opacity: 0.7;
}
#hex {
  min-width: 4.5em;
  font-size: 3em;
  background: rgba(255, 255, 255, 0.3);
}
